# Core Big Data Processing
pyspark==4.1.1
pyarrow==16.1.0

# Data Analysis
pandas==2.2.3
numpy==1.26.4

# AWS & Cloud Storage
boto3==1.38.0
requests==2.31.0

# Visualization
matplotlib==3.8.4
seaborn==0.13.2

# Notebook Environment
# Notebooks were developed using Google Colab

# Configuration & Environment Management
pyyaml==6.0.2
python-dotenv>=1.0.1
