
# AWS CONFIGURATION
AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here
AWS_DEFAULT_REGION=us-east-2

# S3 CONFIGURATION
S3_BUCKET_NAME=cs4265-bigdata-product-trends-jialiu


# SPARK CONFIGURATION
SPARK_MASTER=local[*]


# OPTIONAL SETTINGS
LOG_LEVEL=INFO
